<div class="row pt-5">
  <%= render partial: "partials/left_column", locals: { user: @current_user } %>
  <div class='col-sm-1'></div>
  <div class='col-sm-9 inbox-outbox-card'>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="inbox" role="tabpanel" aria-labelledby="inbox-tab">
        <%= render partial: "partials/in_out_box", locals: { user: @current_user, messages: @messages } %>
        <%= will_paginate @messages %>
      </div>
      <div class="tab-pane fade" id="outbox" role="tabpanel" aria-labelledby="outbox-tab">
        <%= render partial: "partials/in_out_box", locals: { user: @current_user, messages: @messages } %>
        <%= will_paginate @messages %>
      </div>
    </div>
  </div>
</div>
