<div class="card mt-3">
  <h5 class="card-header">
    New Message
  </h5>

  <div class="card-body">
    <%= form_for @message, url: messages_path do |f| %>
      <div>from: <%= @current_user.full_name %></div>
      <div>to: <%= f.collection_select :inbox_id, @users, :id, :full_name, { include_blank: 'Select a receiver' } %></div>
      <div class="form-group py-3">
        <%= f.text_area :body, class: "form-control", rows: 3 %>
        <%= f.hidden_field :outbox_id, value: @current_user.id %>
      </div>

      <div class="form-group mb-0 text-right">
        <%= f.submit 'Send Message', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
